@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
a.active {
    color: #ffd700;
}

.header {
    height: 100px;
}

.hero {
    height: 100vh;
    padding-top: 100px;
}

.bg-img {
    background: url("img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .header {
        height: 80px;
    }
    .hero {
        padding-top: 80px;
    }
}
