@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
a.active {
    color: #5b21b6;
}

.header {
    height: 100px;
}

.hero {
    height: 100vh;
    padding-top: 100px;
}

.bg-img {
    background: url("img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .header {
        height: 80px;
    }
    .hero {
        padding-top: 80px;
    }
}

.feature-card {
    width: 200px;
    background: linear-gradient(
        0deg,
        rgba(46, 46, 46, 0.007),
        rgba(10, 68, 58, 0.815)
    );
    outline: solid 0px rgb(100, 255, 221);
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.feature-card:hover {
    background: linear-gradient(
            0deg,
            rgba(105, 255, 222, 0.425),
            rgb(68, 255, 214)
        ),
        url(../img/background.jpg);
    background-size: cover;
    color: rgb(11, 46, 38);
    transform: scale(1.2);
    outline: solid 10px rgba(23, 196, 159, 0);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.feature-card-active {
    background: linear-gradient(
            0deg,
            rgba(105, 255, 222, 0.425),
            rgb(68, 255, 214)
        ),
        url(../img/background.jpg);
    background-size: cover;
    color: rgb(11, 46, 38);
    transform: scale(1.1);
    outline: solid 10px rgba(23, 196, 159, 0);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
